.videos {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.player-wrapper {
  height: 35vh;
  padding: 1rem;
  margin: auto 1em;
}

.bold {
  font-weight: bold;
}

@media (max-width: 480px){
  .videos{
    width: 90vw;
  }
 
}
