.home {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: auto;
}
 
.lieu-retour {
  width: 100%;
}

.texte {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  line-height: 1.5;
  &:hover{
    cursor: crosshair;
    background: no-repeat center/150% url(https://db3pap004files.storage.live.com/y4msnzVm-3szm85ChF94zQUhjZ7_f4YmckwDvznV0-NheCKMHI70QE9_DghyHD1pAxXQdYHBc59rH5Wzu9lJvMycAzh0q8iaZB0cBKk25GMOci1GhfarecRhAS90JJr7FF4-AQrJpPFtV4HgQUZVfGEywCep3r1QIt4Rql9Kpaw8e-GcJwJmCcL6Kxz9m7REpHX?width=1748&height=1240&cropmode=none);
    transition: all .55s ease-in-out;
    color: #fff;
  }
}

.auteur {
  text-align: right;
  font-size: x-small;
  padding: 1rem;
  margin: 1rem;
}

@media screen and (max-width: 480px){
  .home{
    width: 90vw;
  }

  .lieu-retour{
    width:90%;
    margin: auto;
  }
  .texte{
    color: black;
   
  }
}

@media (hover: none){
  .texte:hover {
    color: black;
    background-image: none;
  }
}
